:root {
    --background: #0f172a;
    --white: #e2e8f0;
    --accent: #ee6c4d;
}

body {
    font-family: "Kode Mono", monospace;
    margin: 0;
    background: var(--background);
    color: var(--white);
    line-height: 1.6;
    overflow-x: hidden;
}

h1 {
    font-family: "Turret Road", sans-serif;
    text-shadow: 4px 4px 4px var(--accent);
    font-size: 75px;
    margin: 0;
    line-height: 1;
}

.footer {
    text-align: center;
    padding: 15px;
    background: #1e293b;
    color: #94a3b8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    min-height: 80vh;

    padding: 0 10%;

    gap: 60px;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    font-size: 30px;
    font-weight: 400;
}

.hero-text p {
    max-width: 500px;
    color: var(--white);
}

.hero-image img {
    width: 300px;
    height: 300px;

    object-fit: cover;

    border-radius: 50%;

    box-shadow: 0 0 30px rgba(204,153,204,0.4);
}

#typing-text {
    color: var(--white);
    border-right: 2px solid var(--accent);
    padding-right: 5px;

    animation: blink 0.7s infinite;

    min-width: 350px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 30px;
    background: #1e293b;
    backdrop-filter: blur(10px);

    z-index: 1000;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--accent);
}

.logo img {
    height: 50px;
    width: auto;
}