:root {
    --background: #0f172a;
    --white: #e2e8f0;
    --accent: #ee6c4d;
    --navback:#1e293b;
    --text-secondary: #b2c3da;
}

/* Default styles */
body {
    font-family: "Kode Mono", monospace;
    margin: 0;
    background: var(--background);
    color: var(--white);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Scroll Behavior */
html {
    scroll-behavior: smooth;
}

/* Navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
    background: var(--navback);
}

.navbar a {
    
    color: var(--white);
    transition: 0.3s;
    float: left;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 7px;
}

.navbar a:hover {
    color: var(--accent);
}

.navbar a.active {
  background-color: var(--accent);
  color: white;
}

.logo img {
    height: 30px;
    width: auto;
    float: left;
    margin-right: 15px;
    vertical-align: middle;
    margin-left: 25px;
}

.socials {
    float: right;
    margin-right: 80px;
}

.socials a {
    color: var(--white);
    margin-left: 15px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .socials {
        display: none;
    }
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add space between hero text and image */
    width: 80%;

    margin-top: 50px;
    min-height: 70vh;

    padding: 0 10%; 

    gap: 60px; /* Add gap between hero text and image */
}

.hero-text h1 {
    font-family: "Turret Road", sans-serif;
    text-shadow: 4px 4px 4px var(--accent);
    font-size: 75px;
    margin: 0;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    font-size: 30px;
    font-weight: 400;
}

.hero-text p {
    max-width: 500px;
    color: var(--white);
}

.hero-image img {
    width: 325px;
    height: 325px;

    object-fit: cover;

    border-radius: 50%;

    box-shadow: 0 0 30px rgba(204,153,204,0.4);
}

@media (max-width: 768px) {
    .hero-image {
        display: none;
    }
}

#typing-text {
    color: var(--white);
    border-right: 2px solid var(--accent);
    padding-right: 5px;

    animation: blink 0.7s infinite;

    min-width: 350px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/* About Section */
.about {
    margin-top: 6px;
    align-items: center;
    width: 80%;
    padding: 0 10%;
}

.about h2 {
    font-family: "Turret Road", sans-serif;
    font-size: 50px;
    color: var(--accent);
    text-decoration: underline var(--white) wavy 2px;
    text-underline-offset: 5px;
    margin: 0;
    padding: 0;
}

.about p {
    color: var(--white);
    font-size: 18px;
}

.social-link a {
    color: var(--accent);
    text-decoration: none;
    transition: 0.3s;
}

.skills-header h3 {
    margin-top: 45px;
    font-size: 23px;
}

.skills{
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #1e293b;
    border-bottom: 1px solid #1e293b;
}

.skills-content {
    display: flex;
    gap: 40px;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
    font-size: 18px;
    color: var(--white);
    width: max-content; /* Adjust for seamless looping */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50% - 20px)); /* Adjust 20 px for seamless looping */
    }
}


/* CS Projects Section */
.cs_projects {
    align-items: center;
    width: 80%;
    margin-top: 100px;
    padding: 0 10%;
}

.cs_projects h2 {
    font-family: "Turret Road", sans-serif;
    font-size: 50px;
    color: var(--accent);
    text-decoration: underline var(--white) wavy 2px;
    text-underline-offset: 5px;
    margin: 0;
    padding: 0;
}

.cs_projects p {
    color: var(--white);
    font-size: 18px;
    text-align: full-justify;
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /*For the space on top*/
    gap: 20px;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: var(--navback);
    color: var(--accent);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-btn:hover {
    background: var(--accent);
    color: var(--navback);
}

.carousel-container {
    overflow-x: hidden;
    overflow-y: visible;
    padding-top: 30px; /*For padding on top*/
}

.project-carousel {
    display: flex;
    gap: 30px;
    align-items: stretch;
    transition: transform 0.5s ease;
}

.project-card {
    min-width: 350px;
    background: var(--navback);
    border: 1px solid var(--white);
    border-radius: 20px; 
    /* Removed overflow:hidden */
    text-decoration: none;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: var(--accent);
    box-shadow: 0 0 25px rgba(204,153,204,0.4);
}

.project-info {
    padding: 25px;
    height: 100%;
}

.project-info h3 {
    margin-top: 13px;
    color: var(--white);
    margin-bottom: 10px;
    font-size: 24px;
}

.project-info p {
    color: var(--text-secondary);
    line-height: 1.7;
    font-size: 16px;
    margin-bottom: 75px;
}

.project-info h6 {
    color: var(--white);
    font-size: 14px;
    position: absolute;
    bottom: 5px;
}

@media (max-width: 768px) {
    .project-card {
        min-width: 300px;
    }
}


/* Passion Projects Section */
.passion_projects {
    align-items: center;
    width: 80%;
    margin-top: 100px;
    padding: 0 10%;
}

.passion_projects h2 {
    font-family: "Turret Road", sans-serif;
    font-size: 50px;
    color: var(--accent);
    text-decoration: underline var(--white) wavy 2px;
    text-underline-offset: 5px;
    margin: 0;
    padding: 0;
}

.passion_projects p {
    color: var(--white);
    font-size: 18px;
    text-align: full-justify;
}


/* Project Display Section */
.project-display {
    align-items: center;
    width: 80%;
    padding: 0 10%;
    margin-top: 125px;
}

.home-button {
    background: var(--navback);
    text-decoration: none;
    color: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.home-button:hover {
    background: var(--accent);
    color: var(--navback);
}

.project-display h1 {
    font-family: "Turret Road", sans-serif;
    font-size: 50px;
    color: var(--accent);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 15px;
}

.project-display h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--text-secondary);
    font-size: 20px;
}

.gitlink a {
    color: var(--white);
    transition: 0.3s;
    font-size: 35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.gitlink a:hover {
    color: var(--accent);
}

.project-image {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image img {
    max-width: 60%;
    height: auto;
    border-radius: 24px;
    display: block;
}

.image-subtitle {
    text-align: center;
    color: var(--text-secondary);
    font-size: 16px;
    margin-top: 10px;
}

.project-display h2{
    font-family: "Turret Road", sans-serif;
    font-size: 23px;
    color: var(--accent);
    text-decoration: underline var(--white) wavy 2px;
    text-underline-offset: 5px;
    margin-top: 45px;
}

.important-section {
    border-left: 3px solid var(--accent);
    padding-left: 30px;
    margin: 20px 0;
    background: rgba(99, 51, 51, 0.02);
    border-radius: 6px;
}

.important-section li::marker {
    color: var(--accent);
    font-weight: bold;
}

.important-text {
    color: var(--accent);
    text-shadow: 2px 2px 4px;
}

/* Full screen center container */
.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

/* Loader */
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid var(--accent);
  border-bottom: 10px solid var(--accent);
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Footer */
.footer {
    margin-top: 60px;
    text-align: center;
    padding: 10px;
    background: var(--navback);
    color: var(--text-secondary);
}